.canvas {
    display: flex;
    flex-direction: column;
}

#grid{
    
    margin-top: 15px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

#grid .grid-item{
    background-color: white;
    border: 0.5px solid grey;
}